{
  "Name": "标准类",
  "Author": "fireasy",
  "Version": 1.0,
  "Description": "",
  "Language": "CSharp",
  "Category": "",
  "Partitions": [
    {
      "Name": "类",
      "FileName": "class.cshtml",
      "Output": "{ClassName}.cs",
      "Loop": 1,
      "Syntax": "C#",
      "Color": null
    }
  ],
  "Groups": [],
  "Extension": {
    "UseBase": true,
    "Common": [],
    "Schema": [
      "csharp.cs"
    ],
    "Profile": [
      "csharp.cs"
    ]
  }
}