{
  "Name": "SqlSugar 基本",
  "Author": "fireasy",
  "Version": 1.0,
  "Description": "SqlSugar 的实体模型。",
  "Language": "CSharp",
  "Category": "",
  "Partitions": [
    {
      "Name": "实体类",
      "FileName": "entity.tt",
      "Output": "Entities\\{ClassName}.cs",
      "Loop": 1,
      "Syntax": "C#",
      "Color": null
    }
  ],
  "Groups": [],
  "Extension": {
    "UseBase": true,
    "Common": [],
    "Schema": [
      "csharp.cs"
    ],
    "Profile": [
      "csharp.cs"
    ]
  }
}